html {
	background: #1e1e1e;
}
body {
/*  background: transparent url("http://macromates.com/images/site/bg_body") repeat-y 50% 0px;*/
/* font: 0.72em/170% "Lucida Grande", Verdana, Helvetica, sans-serif;*/
	font: 14px "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
a[href] {
	color: #525151;
}

#wrapper { /* IE workaround */
	margin: 0 auto;
	padding: 0;
	width: 98%;
}
html>body #wrapper {
	margin: 0 auto;
	padding: 0;
	width: auto;
	max-width: 98%;
}

#header {
	position: relative;
	background: #436976;
	height: 113px;
}
#header h1 {
	position: absolute;
	left: 60px;
	top: 40px;
	height: 50px;
	cursor: pointer;
	color: white;
}
#content h1 {
        display: none;
}

#pagenav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 18px "Lucida Grande", Verdana, Helvetica, sans-serif;
    width: 85%;
}

#pagenav a {
    color: #ebebeb;
    text-decoration: none;
}

#navigation {
	background: #232323;
	border-bottom: 1px solid #171717;
	margin: 0;
	height: 50px;
	padding: 0.5em 0;
	width: 100%;
}
#navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation li {
	display: inline;
	margin: 0;
	padding: 0 0 0 25px;
	text-shadow: 0px 2px 4px #000;
}
#navigation li a {
	color: #5b5b5b;
	text-decoration: none;
}

#intro		#navi_intro			a,
#blog			#navi_blog			a,
#toc			#navi_manual		a,
#chapter		#navi_manual		a,
#wiki			#navi_wiki			a,
#community	#navi_community	a,
#contact		#navi_contact		a,
#navigation li a:hover {
	color: #fff;
}

#page_body {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#content { /* IE workaround */
	margin: 0;
	padding: 25px;
	width:  95%;
	height: 584px; /* (64+2*20+2)*6 - 2 - 2*25 */
	background: #fff;
}
html>body #content {
	margin: 0;
	padding: 25px;
	width: auto;
	height: auto;
	max-width: 100%;
	min-height: 584px; /* (64+2*20+2)*6 - 2 - 2*25 */
	background: #fff;
}
#content :first-child {
	margin-top: 0px;
}
#content :first-child + h1 {
	margin-top: 0px;
}

#footer {
	position: relative;
	margin: 0;
	padding: 0.75em 25px 0.75em 25px;
	min-height: 1em;
	clear: both;
	color: #b5b5b5;
	background: #2E2E2E;
}
#footer * {
	margin: 0;
	padding: 0;
}
#footer a {
	color: #b5b5b5;
	text-decoration: none;
}
#footer a:hover {
	color: #2E2E2E;
	background: #b5b5b5;
	text-decoration: none;
}
#footer .left {
	float: left;
}
#footer .right {
	float: right;
}

