<section>
  <h1>Reference</h1>
  <p class="info-text">
    Pirola, Rizzi, Picardi, Pesole, Della Vedova and Bonizzoni.&nbsp;
    <em>PIntron: A fast method for gene structure
      prediction via maximal pairings of a pattern and a
      text.</em><br/>
    BMC Bioinformatics 2012, 13(S5):S2
    <a href="http://dx.doi.org/10.1186/1471-2105-13-S5-S2">doi:10.1186/1471-2105-13-S5-S2</a>
  </p>
</section>
<section>
  <h1>License</h1>
  <p class="info-text">
    <strong>PIntron</strong> is distributed under the terms of the GNU
    Affero General Public License (AGPL), version 3 or later.
  </p>
</section>

